// Constants
$screen-background: #e6e600;
$btn-font-color: white;

// Config

h1, h2, h3 {
  font-family: 'VT323', cursive;
}

a, p, li {
  font-family: 'Monoton', cursive;
}

// Effects
@keyframes flicker{
  $steps:20;
  @for $i from 0 through $steps{
    #{percentage($i*(1/$steps))}{
      opacity:random();
    }
  }
}

// Classes
button {
  border-radius: 20px;
  text-align: center;
  font-size: 20px;
  padding: 15px;
  margin: 5px;
  color: $btn-font-color;
  width: 60px;
  border-style: none;
}

button:active {
  background-color: grey;
}

.btn-num {
  background-color: #555555;
}

.btn-equals {
  background-color: green;
}

.btn-clear {
  background-color: red;
}

.btn-operator {
  background-color: blue;
}

.display {
  background-color: #e6e600;
  border-style: solid;
  border-color: black;
  border-width: 1px;
  padding: 5px;
  margin: 3px;
  // https://codepen.io/lbebber/pen/XJRdrV//
  // flicker
  &::after{
    content:" ";
    display:block;
    background:transparentize($screen-background,0.9);
    opacity:0;
    z-index:2;
    pointer-events:none;
  }
  &::after{
    animation-name: flicker;
    animation-duration: 0.15s ;
    animation-iteration-count: infinite;
  }
  // scanlines
  &::before{
    content:" ";
    display:block;
    position:absolute;
    top:0;
    left:0;
    bottom:0;
    right:0;
    background:linear-gradient(transparentize($screen-background,1) 50%, transparentize(darken($screen-background,10),0.75) 50%), linear-gradient(90deg,transparentize(#ff0000,0.94),transparentize(#00ff00,0.98),transparentize(#0000ff,0.94));
    z-index:2;
    background-size:100% 2px, 3px 100%;
    pointer-events:none;
  }
}

.display p {
  font-family: 'VT323', monospace;
  font-size: 30px;
}


// Utility classes
.center {
  margin: 0 auto;
}

.fill-parent {
  width: 100%;
}

.img-profile {
  max-width: 50px;
  max-height: 50px;
}

.app {
  border-radius: 15px;
  background-color: grey;
  padding: 20px;
}
